/*? global clearing */
*,
html,
body {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

:root {
  background-color: #222222;
  color: white;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.content {
  border: 2px solid white;
  padding: 20px ;
  cursor: pointer;
  border-radius: 15px;

}

.content:hover {
  background-color: aqua;
  color: rgb(2, 2, 2);
  transition: 0.3s all ease-in-out;
}
/* bar */
.bar-top {
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress-horizontal, progress-color;
  animation-timeline: scroll();  
  transform-origin: 0%;
}

.bar-bottom {
  width: 100%;
  height: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: progress-horizontal, progress-color;
  animation-timeline: scroll();  
  transform-origin: 100%;
}

.bar-left {
  width: 5px;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: porg-vertikal, progress-color;
  animation-timeline: scroll();  
  transform-origin: 0 100%;
}

.bar-right {
  width: 5px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  animation: porg-vertikal, progress-color;
  animation-timeline: scroll();  
  transform-origin: 100% 0;
}


@keyframes progress-horizontal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes porg-vertikal {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes progress-color {
  0% {
    background-color: tomato;
  }

  50% {
    background-color: chartreuse;
  }
  100% {
    background-color: aqua;
  }
}

/* media queries */

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}